<a href="https://colab.research.google.com/github/Gastonnrb/TEC-Ciencia_de_Datos/blob/main/Copia_de_Terrium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto Terrium

In [14]:
import pandas as pd 
import numpy as np
import statistics as st

In [15]:

from google.colab import drive 
drive.mount('/content/drive/')

df = pd.read_csv('/content/drive/Shareddrives/Ciencia de datos/Reto/Data/CT, info universidades, 2022 08 10.xlsx - datos ct.csv')
df.head(2)
df = df.sample(1000,random_state=1)

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [16]:
!ls '/content/drive/Shareddrives/Ciencia de datos/Reto/Data/CT, info universidades, 2022 08 10.xlsx - datos ct.csv'

'/content/drive/Shareddrives/Ciencia de datos/Reto/Data/CT, info universidades, 2022 08 10.xlsx - datos ct.csv'

In [17]:
df.shape

(1000, 123)

Eliminamos las columnas de datos que presentan NAs ya que son columnas irrelevantes para el DF.

In [18]:
print(df.isna().sum()[['Unnamed: 3','Unnamed: 7','Unnamed: 115','Unnamed: 19']])
df = df.drop(['Unnamed: 3','Unnamed: 7','Unnamed: 115','Unnamed: 19'], axis=1)

Unnamed: 3      1000
Unnamed: 7      1000
Unnamed: 115    1000
Unnamed: 19     1000
dtype: int64

Corroboramos la cantidad de NAs que seguimos teniendo en el DF. Sin las columnas pasadas no tenemos NAs por lo tanto podemos seguir explorando el DF.

In [19]:
x = df.isna().sum()

In [20]:
x

ESTADO_FINAL      0
ESTADO_FINAL.1    0
PRO_PROPUESTO     0
TIPO              0
PRODUCTO          0
                 ..
ATRIB_ORD_3       0
ATRIB_ORD_4       0
ATRIB_ORD_5       0
ATRIB_ORD_6       0
ATRIB_ORD_7       0
Length: 119, dtype: int64

In [21]:
df.head()

,ESTADO_FINAL,ESTADO_FINAL.1,PRO_PROPUESTO,TIPO,PRODUCTO,FORMA,ATRIB_DIM_1,ATRIB_DIM_2,ATRIB_DIM_3,ATRIB_DIM_4,...,ATRIB_PRO_93,ATRIB_PRO_94,ATRIB_PRO_95,ATRIB_ORD_1,ATRIB_ORD_2,ATRIB_ORD_3,ATRIB_ORD_4,ATRIB_ORD_5,ATRIB_ORD_6,ATRIB_ORD_7
9928,Cerrado - Factible,ESTADO_FINAL_3,PRO_PROPUESTO_1763,TIPO_3,PRODUCTO_5,FORMA_5,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__1686,...,VACÍO,ATRIB_PRO_94__27,ATRIB_PRO_95__41,ATRIB_ORD_1__589,VACÍO,VACÍO,ATRIB_ORD_4__121,VACÍO,ATRIB_ORD_6__14,ATRIB_ORD_7__83
8290,Cerrado - Factible,ESTADO_FINAL_3,PRO_PROPUESTO_77,TIPO_3,PRODUCTO_7,FORMA_14,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__1170,...,ATRIB_PRO_93__1,VACÍO,VACÍO,ATRIB_ORD_1__110,VACÍO,ATRIB_ORD_3__14,ATRIB_ORD_4__92,VACÍO,VACÍO,ATRIB_ORD_7__85
964,Cerrado - Factible,ESTADO_FINAL_3,VACÍO,TIPO_2,PRODUCTO_5,FORMA_5,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__1556,...,VACÍO,ATRIB_PRO_94__15,ATRIB_PRO_95__11,ATRIB_ORD_1__72,VACÍO,VACÍO,ATRIB_ORD_4__3,VACÍO,ATRIB_ORD_6__1,ATRIB_ORD_7__77
3198,Cerrado - Factible,ESTADO_FINAL_3,VACÍO,TIPO_1,PRODUCTO_5,FORMA_5,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__1441,...,VACÍO,ATRIB_PRO_94__31,ATRIB_PRO_95__10,ATRIB_ORD_1__95,VACÍO,VACÍO,ATRIB_ORD_4__200,VACÍO,ATRIB_ORD_6__27,ATRIB_ORD_7__22
396,Cerrado - Factible,ESTADO_FINAL_3,VACÍO,TIPO_2,PRODUCTO_5,FORMA_9,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__87,...,VACÍO,ATRIB_PRO_94__3,ATRIB_PRO_95__11,VACÍO,VACÍO,ATRIB_ORD_3__1,ATRIB_ORD_4__4,ATRIB_ORD_5__48,ATRIB_ORD_6__2,ATRIB_ORD_7__1

In [22]:
df['ESTADO_FINAL'].unique()

array(['Cerrado - Factible', 'Cerrado - No Factible',
       'Cerrado - Desarrollo Producto', 'Cancelado'], dtype=object)

In [23]:
df[['ESTADO_TRATO','ESTADO_PRODUCTO']] = df['ESTADO_FINAL'].str.split('-',expand=True)

In [24]:
df.head(2)

,ESTADO_FINAL,ESTADO_FINAL.1,PRO_PROPUESTO,TIPO,PRODUCTO,FORMA,ATRIB_DIM_1,ATRIB_DIM_2,ATRIB_DIM_3,ATRIB_DIM_4,...,ATRIB_PRO_95,ATRIB_ORD_1,ATRIB_ORD_2,ATRIB_ORD_3,ATRIB_ORD_4,ATRIB_ORD_5,ATRIB_ORD_6,ATRIB_ORD_7,ESTADO_TRATO,ESTADO_PRODUCTO
9928,Cerrado - Factible,ESTADO_FINAL_3,PRO_PROPUESTO_1763,TIPO_3,PRODUCTO_5,FORMA_5,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__1686,...,ATRIB_PRO_95__41,ATRIB_ORD_1__589,VACÍO,VACÍO,ATRIB_ORD_4__121,VACÍO,ATRIB_ORD_6__14,ATRIB_ORD_7__83,Cerrado,Factible
8290,Cerrado - Factible,ESTADO_FINAL_3,PRO_PROPUESTO_77,TIPO_3,PRODUCTO_7,FORMA_14,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__1170,...,VACÍO,ATRIB_ORD_1__110,VACÍO,ATRIB_ORD_3__14,ATRIB_ORD_4__92,VACÍO,VACÍO,ATRIB_ORD_7__85,Cerrado,Factible

In [25]:
x = df.copy()
y = df.copy()
x.head(2)

,ESTADO_FINAL,ESTADO_FINAL.1,PRO_PROPUESTO,TIPO,PRODUCTO,FORMA,ATRIB_DIM_1,ATRIB_DIM_2,ATRIB_DIM_3,ATRIB_DIM_4,...,ATRIB_PRO_95,ATRIB_ORD_1,ATRIB_ORD_2,ATRIB_ORD_3,ATRIB_ORD_4,ATRIB_ORD_5,ATRIB_ORD_6,ATRIB_ORD_7,ESTADO_TRATO,ESTADO_PRODUCTO
9928,Cerrado - Factible,ESTADO_FINAL_3,PRO_PROPUESTO_1763,TIPO_3,PRODUCTO_5,FORMA_5,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__1686,...,ATRIB_PRO_95__41,ATRIB_ORD_1__589,VACÍO,VACÍO,ATRIB_ORD_4__121,VACÍO,ATRIB_ORD_6__14,ATRIB_ORD_7__83,Cerrado,Factible
8290,Cerrado - Factible,ESTADO_FINAL_3,PRO_PROPUESTO_77,TIPO_3,PRODUCTO_7,FORMA_14,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__1170,...,VACÍO,ATRIB_ORD_1__110,VACÍO,ATRIB_ORD_3__14,ATRIB_ORD_4__92,VACÍO,VACÍO,ATRIB_ORD_7__85,Cerrado,Factible

## Limpieza V2

In [26]:
df.head(2)

,ESTADO_FINAL,ESTADO_FINAL.1,PRO_PROPUESTO,TIPO,PRODUCTO,FORMA,ATRIB_DIM_1,ATRIB_DIM_2,ATRIB_DIM_3,ATRIB_DIM_4,...,ATRIB_PRO_95,ATRIB_ORD_1,ATRIB_ORD_2,ATRIB_ORD_3,ATRIB_ORD_4,ATRIB_ORD_5,ATRIB_ORD_6,ATRIB_ORD_7,ESTADO_TRATO,ESTADO_PRODUCTO
9928,Cerrado - Factible,ESTADO_FINAL_3,PRO_PROPUESTO_1763,TIPO_3,PRODUCTO_5,FORMA_5,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__1686,...,ATRIB_PRO_95__41,ATRIB_ORD_1__589,VACÍO,VACÍO,ATRIB_ORD_4__121,VACÍO,ATRIB_ORD_6__14,ATRIB_ORD_7__83,Cerrado,Factible
8290,Cerrado - Factible,ESTADO_FINAL_3,PRO_PROPUESTO_77,TIPO_3,PRODUCTO_7,FORMA_14,VACÍO,VACÍO,VACÍO,ATRIB_DIM_4__1170,...,VACÍO,ATRIB_ORD_1__110,VACÍO,ATRIB_ORD_3__14,ATRIB_ORD_4__92,VACÍO,VACÍO,ATRIB_ORD_7__85,Cerrado,Factible

Con la siguiente función separamos los valores por el delimitador "_" y remplazamos la columna por el ultimo numeró, eso con la intención de ver unicamente el "material" seleccinado por la columna.

Este paso fue un paso extra ya que realmente solo se representa variables cualitativas dentro del modelo.

In [27]:
def div(x):
    z = x.str.split('_', expand=True)
    z = pd.DataFrame(z)
    z = z[max]
    return z

In [28]:
#https://www.geeksforgeeks.org/how-to-apply-a-function-to-multiple-columns-in-pandas/
df2 = df.apply(div)

In [29]:
df2.head(2)

,ESTADO_FINAL,ESTADO_FINAL.1,PRO_PROPUESTO,TIPO,PRODUCTO,FORMA,ATRIB_DIM_1,ATRIB_DIM_2,ATRIB_DIM_3,ATRIB_DIM_4,...,ATRIB_PRO_95,ATRIB_ORD_1,ATRIB_ORD_2,ATRIB_ORD_3,ATRIB_ORD_4,ATRIB_ORD_5,ATRIB_ORD_6,ATRIB_ORD_7,ESTADO_TRATO,ESTADO_PRODUCTO
9928,Cerrado - Factible,3,1763,3,5,5,None,None,None,1686,...,41,589,None,None,121,None,14,83,Cerrado,Factible
8290,Cerrado - Factible,3,77,3,7,14,None,None,None,1170,...,None,110,None,14,92,None,None,85,Cerrado,Factible

Una vez que limpiezamos los datos, volveremos a remplazar los valores de "None" por los valores pasados de "VACIO". Como no había datos nulos dentro del dataframe previamente, se remplazaron todos los nulos con el VACIO

In [30]:
len(df2)

1000

In [31]:
df2.isna().sum()

ESTADO_FINAL         0
ESTADO_FINAL.1       0
PRO_PROPUESTO      552
TIPO                 0
PRODUCTO             0
                  ...
ATRIB_ORD_5        848
ATRIB_ORD_6        780
ATRIB_ORD_7        212
ESTADO_TRATO         0
ESTADO_PRODUCTO     36
Length: 121, dtype: int64

In [32]:
df2 = df2.fillna('VACIO')

Eliminamos los espacios vacios dentro del DF

In [33]:
df2 = df2.replace(' ','')

## Exploración rapida de datos

Una vez que ya realizamos la limpieza de datos, empezaremos una exploración de datos para comprender aún más la mecanica del dataframe.
Las preguntas principales son:
- Hay dependencias dentro de las formas y materiales ? Es decir, si es forma 5 no es posible contar con los X atributos de X?
- Cual es el porcentaje de proyectos exitosos 
- Que atrbituos son los más solicitados 
- Como podemos realizar el modelo de ML para clasificar si es factible o no con tantas variables cualitativas

In [34]:
df2['ESTADO_PRODUCTO'].unique()

array([' Factible', ' No Factible', ' Desarrollo Producto', 'VACIO'],
      dtype=object)

In [35]:
print('El', len(df[df2['ESTADO_PRODUCTO']==' Factible'])/len(df2)*100, '% son proyectos factibles')
df2[df2['ESTADO_PRODUCTO']==' Factible'].head(3)

El 66.2 % son proyectos factibles

,ESTADO_FINAL,ESTADO_FINAL.1,PRO_PROPUESTO,TIPO,PRODUCTO,FORMA,ATRIB_DIM_1,ATRIB_DIM_2,ATRIB_DIM_3,ATRIB_DIM_4,...,ATRIB_PRO_95,ATRIB_ORD_1,ATRIB_ORD_2,ATRIB_ORD_3,ATRIB_ORD_4,ATRIB_ORD_5,ATRIB_ORD_6,ATRIB_ORD_7,ESTADO_TRATO,ESTADO_PRODUCTO
9928,Cerrado - Factible,3,1763,3,5,5,VACIO,VACIO,VACIO,1686,...,41,589,VACIO,VACIO,121,VACIO,14,83,Cerrado,Factible
8290,Cerrado - Factible,3,77,3,7,14,VACIO,VACIO,VACIO,1170,...,VACIO,110,VACIO,14,92,VACIO,VACIO,85,Cerrado,Factible
964,Cerrado - Factible,3,VACIO,2,5,5,VACIO,VACIO,VACIO,1556,...,11,72,VACIO,VACIO,3,VACIO,1,77,Cerrado,Factible

In [36]:
print('cantidad de proyectos propuestos:', len(df2['PRO_PROPUESTO'].unique()))

cantidad de proyectos propuestos: 346

Ahora calcularemos la cantidad de veces que cada proyecto ha sido solicitado dentro de las diversas solicitudes

In [37]:
Proyectos = df2['PRO_PROPUESTO'].value_counts()

In [38]:
#Podemos ver la cantidad más alta de veces que el proyecto se ha solicitado han sido de 7 veces
Proyectos.head(3)

VACIO    552
1412       7
1340       7
Name: PRO_PROPUESTO, dtype: int64

## Sistema de recomendaciones

Con la información de veces solicitados por proyecto podemos ocupar esta variable de solicitudes como "ratings" para seguir la logica de un algortimo de content filtering. Por lo tanto el paso siguiente sería codificar las variables para poder evaluar su valor dentro de estás solicitudes

Primero pensamos en el numero de recomendaciones que tiene cada producto

In [39]:
Proyectos

VACIO    552
1412       7
1340       7
672        6
671        6
        ...
774        1
320        1
376        1
564        1
87         1
Name: PRO_PROPUESTO, Length: 346, dtype: int64

#Medidas de Tendencia

In [40]:
st.mean(df2)

TypeError: ignored

Despues indicamos la cantidad